<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
 <head>
  <title>化学实体识别演示</title>
	 <!--<link rel="icon" href="1872390.ico" type="image/x-icon" />-->
     <!--<link rel="shortcut icon" href="1872390.ico" type="image/x-icon" />-->
	 <!--<link rel="icon" href="data:;base64,iVBORw0KGgo=">-->
	 <!--<link rel="icon" href="data:;base64,=">-->
	<!--<link rel="icon" href="data:,">-->
	 <link rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
	 <meta name="referrer" content="no-referrer"/>



<style>
.bars{height:auto;width:50%; float:left;}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; height:auto;}    
.string { color: green; }  
.number { color: darkorange; }
.boolean { color: blue; }   
.null { color: magenta; } 
.key { color: red;}
.ct{ margin:0 auto;text-align:center;}
.size{ width:300px; height:400px}
<!--.size{ margin:0 auto;text-align:center;}-->

</style>
<link rel="stylesheet" href="static/css/nlp.css">
<script src="static/js/jquery-2.1.4.min.js"></script>

<SCRIPT LANGUAGE="JavaScript">

function UrlPOST(txt,myfun){
	if (txt=="")
	{
		return "error parm"; 
	}
	var httpurl = "/api/v0.1/query";
	 //alert(httpurl);
    <!--AJAX 是与服务器交换数据的艺术，它在不重载全部页面的情况下，实现了对部分网页的更新-->
    <!--两种在客户端和服务器端进行请求-响应的常用方法是：GET 和 POST。-->
	<!--GET - 从指定的资源请求数据-->
	<!--POST - 向指定的资源提交要处理的数据-->
	$.ajax({
			//txt=I love chemistry a lot more.  I love you and I dislike you.
			type: "POST",
			data: "text="+txt,
			url: httpurl,
			//async:false,
			success: function(data)
			{
				//alert('txt')
				//alert(txt)-->I love chemistry a lot more.
				 			 //I love you and I dislike you.
				<!--alert('data!  ')-->
				<!--alert(data);-->
				 //--> [object,object]
				//alert('data[result]');
				//alert(data['result']); --> ['<O><O><O><O><O><O>','<O><O><O><O><O><O><O>']这里不能区分标点符号
				//$("#"+ objLabel).html(data['result']);
				//return data
				myfun(data);
			}
	});
}

function showresult(dat){
	<!--alert(dat)-->
	c=dat

	//r = dat['result'];

	//c='共'+r.length+'句内容:\n';
	//for(var i=0;i<r.length;i++){
	//	c+= "第"+ (i+1) + "句:" + r[i] + "\n\n";
	//}
	//c='<font color = "#FF0000" >hahaha</font><font color = "#22ff00" >lalala</font>'
	//每一句的不同实体都用不同的颜色去表示

	$("#result").html(c);
}

$(document).ready(function(){
	$("#bt_submit").click(function() {
		//alert("来到button！");
		var txt = $("#txt").val();
		<!--alert(txt)-->
		if (txt=="")
		{ return; }
		var voc = "";
		voc = UrlPOST(txt,showresult);
		<!--var voc = "222";-->
		<!--alert(voc);-->
	}); 
});

</SCRIPT>

 </head>

<body class="ai-platform" >
<!--<div class="nlp-word" >-->
	<!--<div class="word-head" ><h1 align="center">化学实体识别演示　beta版</h1></div>-->
	<!--<div class="word-form" >-->
<!--&lt;!&ndash;textarea 实现div内居中，可以使用text-align:center，因其为行内元素。&ndash;&gt;-->
<!--&lt;!&ndash;textarea无法使用margin进行操作，因其为行内元素，需要使用display:block;之后才可以使用margin进行操作&ndash;&gt;-->
		<!--<div class="com-text-cover" style="text-align:center;" contenteditable="true" >-->
		<!--&lt;!&ndash;<div class="size" style="text-align:center;"  >&ndash;&gt;-->
			<!--<div class="mid-down-title" class="marginCenter">-->
				<!--<span class="down-title-des" ><h4>请输入待分析的文本：</h4></span>-->
			<!--</div>-->
			<!--<textarea name="txt" id="txt" spellcheck="false" maxlength="" class="com-txt" onfocus="this.select()" style="resize:none;width:800px;height:200px;">-->
			<!--</textarea>-->

			<!--<div class="ed-form-down" style="margin:10px">-->
			<!--<span class="ed-down-tips" style="color:rgba(82, 168, 236, 0.8)">-->
				<!--提示：无需处理格式，直接复制文本内容即可-->
			<!--<input type="button" style="width:60px; height:30px;border-color: rgba(82, 168, 236, 0.8);"value=" 提交 " id="bt_submit" />-->
			<!--</span>-->

			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="result-cover"  style="text-align:center;">-->

			<!--<div class="result-left-title"><h4>识别结果：</h4>-->

			<!--</div>-->
				<!--<textarea name="result" id="result" spellcheck="false" maxlength="" class="com-txt" style="resize:none;width:800px;height:200px;"></textarea>-->
			<!--<br/>-->
	<!--</div>-->
  <!--</div>-->

<div class="nlp-word">
	<div class="word-head">化学实体识别演示　版本: {{ version }}
	<div style="float:right" id="desc"><img src="static/color.jpg"  alt="color-description" height="120px" width="300px" /></div>

	</div>
	<!--图片使用相对路径-->

	<div class="word-form">

		<div class="com-text-cover">
			<div class="mid-down-title">
				<span class="down-title-des">请输入待分析的文本：</span>
			</div>
			<textarea name="txt" id="txt" spellcheck="false" maxlength="" class="com-txt" onfocus="this.select()">
			</textarea>
			<div class="ed-form-down">
				<span class="ed-down-tips">提示：无需处理格式，直接复制文本内容即可
					<input type="button" value=" 提交 " id="bt_submit" />
				</span>
			</div>
		</div>
	</div>
	<!--<div class="result-cover" style="margin:20px";">-->

	<!--<div class="result-left-title" style="margin-top:50px">-->
		<!--<span class="down-title-des">识别结果：</span>-->
	<!--</div>-->
			<div class="result-left-title" style="margin-top:50px"><h4>识别结果：</h4>
				<div class="com-txt" id="result" >......</div>
				<!--报错："GET /image/color.jpg HTTP/1.1" 404 -		改进：把它移到了static文件中去了-->
				<!--<textarea name="result" id="result" spellcheck="false" maxlength="" class="com-txt"></textarea>-->

	</div>
  </div>

 </body>
</html>
